<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="party_game_ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <party_game_ui.Properties.Settings>
            <setting name="SubscriptionKey" serializeAs="String">
                <value>3663e4c867074c88945b64374b7b8c8a</value>
            </setting>
            <setting name="Region" serializeAs="String">
                <value>westus</value>
            </setting>
            <setting name="SpeechRecognitionLanguage" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="Tile1Word" serializeAs="String">
                <value>Spain</value>
            </setting>
            <setting name="Tile2Word" serializeAs="String">
                <value>Welsh</value>
            </setting>
            <setting name="Tile3Word" serializeAs="String">
                <value>Papua New Guinea</value>
            </setting>
            <setting name="Tile4Word" serializeAs="String">
                <value>Polish</value>
            </setting>
            <setting name="Tile5Word" serializeAs="String">
                <value>Swahili</value>
            </setting>
            <setting name="Tile6Word" serializeAs="String">
                <value>Strange</value>
            </setting>
            <setting name="Tile7Word" serializeAs="String">
                <value>Cape Breton</value>
            </setting>
            <setting name="Tile8Word" serializeAs="String">
                <value>French</value>
            </setting>
            <setting name="Tile9Word" serializeAs="String">
                <value>Lithuanian</value>
            </setting>
        </party_game_ui.Properties.Settings>
    </userSettings>
</configuration>